.main{
    background-color: azure;
   }
   .content{
       background-color: azure;
       border-radius: 5px;
       width: 90%;
       margin: auto;
       text-align: center;
   }
   .navbar {
        text-align: center;
        max-width: 100%;
   }
   .navbar-img{
    width: 90%;
    height: 220px;
   }
   #tourism{
      font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .section-info{
     font-size: large;
       font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .paragraph{
         font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .places{
      display: flex;
      width:100%;
   }
   .sub-header{
      font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .place{
       background-color: #ccfbf3;
       width: 100%;
        border-radius: 20px;
        margin: 50px;
        padding: 20px;
   }
   .place-header{
       background-color: whitesmoke;
       border-radius: 20px;
       font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .place-img{
       height: 150px;
       width:220px;
       border-radius:20px;
   }
   .place-info{
      font-family: Georgia, 'Times New Roman', Times, serif;
   }
   #footer{
       background-color: white;
       border: 20px solid #ccfbf3;
       border-radius:50px;
       position : absolute;
       font-size: medium;
       width:80%;
       margin-left: 40px;
       height: 130px;
       font-family: Georgia, 'Times New Roman', Times, serif;
       padding: 20px;
       
   }
   #button{
       background-color: azure;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
   }